.logo h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tomatoLandingPAge{
    margin-top: 81px;
}

.imgcomtainer{
    background-image: url("https://images.unsplash.com/photo-1539136788836-5699e78bfc75?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    
}

.wrapper{
    background: rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 1226px;
    height: 518px;
}